<footer class="bb-footer margin-t-50">
    <div class="footer-directory padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="directory-title">
                        <h4>Brands Directory</h4>
                    </div>
                    <div class="directory-contact">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Jewellery :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Necklace</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Earrings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Couple Rings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Pendants</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">crystal</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Bangles</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Bracelets</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Nose pin</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Chain</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Earrings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Couple Rings</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Footwear :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Sport</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Formal</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Boots</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Casual</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Cowboy Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Safety Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Party Wear Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Branded</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">First copy</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Long Shoes</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Fashion :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">T-Shirt</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Short & Jeans</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Jacket</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Dress & Frock</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Inner wear</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hosiery</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Cosmetics :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Shampoo</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Body wash</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">face wash</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Makeup kit</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Liner</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Lipstick</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Perfume</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Body Shop</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Scrub</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair Gel</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair colors</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair Dye</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Sunscreen</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Skin Lotion</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Liner</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Lipstick</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-top padding-tb-50">
            <div class="container">
                <div class="row m-minus-991" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="col-sm-12 col-lg-3 bb-footer-cat">
                        <div class="bb-footer-widget bb-footer-company">
                            <img src="assets/img/logo/logo.png" class="bb-footer-logo" alt="footer logo">
                            <img src="assets/img/logo/logo-dark.png" class="bb-footer-dark-logo" alt="footer logo">
                            <p class="bb-footer-detail">BlueBerry is the biggest market of grocery products. Get
                                your daily needs from our store.</p>
                            <div class="bb-app-store">
                                <a href="javascript:void(0)" class="app-img">
                                    <img src="assets/img/app/android.png" class="adroid" alt="apple">
                                </a>
                                <a href="javascript:void(0)" class="app-img">
                                    <img src="assets/img/app/apple.png" class="apple" alt="apple">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-info">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Category</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="shop-left-sidebar-col-3.html">Dairy & Milk</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-banner-left-sidebar-col-3.html">Snack & Spice</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-full-width-col-5.html">Fast Food</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-list-left-sidebar.html">Juice & Drinks</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-list-full-col-2.html">Bakery</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-banner-right-sidebar-col-4.html">Seafood</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-account">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Company</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="about-us.html">About us</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="track-order.html">Delivery</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="faq.html">Legal Notice</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="terms.html">Terms & conditions</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="checkout.html">Secure payment</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="contact-us.html">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-service">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Account</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="login.html">Sign In</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="cart.html">View Cart</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="faq.html">Return Policy</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-left-sidebar-col-3.html">Become a Vendor</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="product-left-sidebar.html">Affiliate Program</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="checkout.html">Payments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 bb-footer-cont-social">
                        <div class="bb-footer-contact">
                            <div class="bb-footer-widget">
                                <h4 class="bb-footer-heading">Contact</h4>
                                <div class="bb-footer-links bb-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="bb-footer-link bb-foo-location">
                                                <span class="mt-15px">
                                                    <i class="ri-map-pin-line"></i>
                                                </span>
                                            <p>971 Lajamni, Motavarachha, Surat, Gujarat, Bharat 394101.</p>
                                        </li>
                                        <li class="bb-footer-link bb-foo-call">
                                                <span>
                                                    <i class="ri-whatsapp-line"></i>
                                                </span>
                                            <a href="tel:+009876543210">+00 9876543210</a>
                                        </li>
                                        <li class="bb-footer-link bb-foo-mail">
                                                <span>
                                                    <i class="ri-mail-line"></i>
                                                </span>
                                            <a href="mailto:example@email.com">example@email.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bb-footer-social">
                            <div class="bb-footer-widget">
                                <div class="bb-footer-links bb-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-twitter-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-linkedin-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-instagram-line"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="bb-bottom-info">
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="bb-copy">Copyright © <span id="copyright_year"></span>
                                    <a class="site-name" href="index-2.html">BlueBerry</a> all rights reserved.
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment d-flex justify-content-center">
                                <div class="payment-link">
                                    <img src="assets/img/payment/payment.png" alt="payment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
